@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Signika Negative', sans-serif;    
}

body {
    background-color: rgba(37, 190, 201, 0.656);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

body main {
    height: 400px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body main.teste1 {
    background-color: rgba(69, 59, 59, 0.885);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    border-radius: 16px;
    border: 3px solid rgb(0, 0, 0);
    overflow: hidden;
    opacity: 0;
}

body main.teste1 h {
    margin-top: 60px;
    font-size: 35px;
}

body main.teste1 label {
    text-align: center;
}

body main.teste1 label input {
    display: block;
    margin-top: 12px;
    border-radius: 6px;
    border: 2px solid black;
}

body main.teste2 {
    background-color: blue;
}

body main.teste3 {
    background-color: violet;
}

body main.teste4 {
    background-color: darkgreen;
}

body main div {
    height: 360px;
    width: 240px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 16px;
    background-color: rgba(69, 59, 59, 0.885);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 75px;
}

body main div p {
    width: 175px;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    height: 35px;
    padding-top: 7px;
    cursor: pointer;
}